<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <meta name="keyword" content="red, color, colors">
    <meta name="description" content="the beast color in the word">
    <link rel="stylesheet" href="te.css">
    <script defer src="js-cv2.js"></script>
    <title>Test</title>
</head>
<body>
    <div class="box-button">

        <h1 type="button" class="button">add</h1>
        
    </div>
    <div class="box">

    </div>
    <script defer src="js-cv2.js" type=""></script>
</body>
</html>